<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= namespace %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      window.ENV = {{ENV}};
      document.write('<base href="' + ENV.rootURL + '" />');
    </script>

    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>
  </head>
  <body>
    <script>
      window.<%= namespace %> = require('<%= modulePrefix %>/main')['default']('<%= modulePrefix %>');
    </script>
  </body>
</html>
