/bin/
/blueprints/**/files/
/packages/*-blueprint/files/
/common-tmp/
/coverage/
/docs/build/
/node_modules/
/tmp/
tests/fixtures/

/lib/broccoli/app-*.js
/lib/broccoli/test-support-*.js
/lib/broccoli/tests-*.js
/lib/broccoli/vendor-*.js

!.*
/.git/
