/bin/
/blueprints/**/files/
/common-tmp/
/coverage/
/tests/fixtures/
/tmp/

/lib/broccoli/app-*.js
/lib/broccoli/test-support-*.js
/lib/broccoli/tests-*.js
/lib/broccoli/vendor-*.js

!.*
/node_modules/
