/assets/
/dev/
/docs/
/tests/*
/tests/*/
!/tests/helpers/
/tmp/
/.*
*.log
/yarn.lock
!docs/build/data.json

# the GitHub Action CI configuration is used by
# lib/utilities/platform-checker.js to determine what versions of Node are
# under test by the current version of ember-cli being used, this means we
# **must** publish this file (but it would be ignored by the `/.*` line just
# above)
!/.github/workflows/ci.yml
