sudo: false

language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"
  - node

cache:
  directories:
    $HOME/.npm
    $HOME/.cache # includes bowers cache

before_install:
  # prevent the npm loading indicator
  - npm config --global set spin false
  # if npm version is less 3.0.0 (lets say 1.x or 2.x) we should attempt to upgrade to 3
  - if [[ $(npm -v | cut -d '.' -f 1) -lt 3 ]]; then npm i -g npm@^3; fi

install:
  - npm install --no-optional

script: npm run-script test-all:cover

after_script:
  - npm install coveralls codeclimate-test-reporter
  - cat coverage/lcov.info | node_modules/.bin/codeclimate-test-reporter
  - cat coverage/lcov.info | node_modules/.bin/coveralls.js
