sudo: false
env:
  - NODE_VERSION=0.10
  - NODE_VERSION=0.12
  - NODE_VERSION=iojs

before_install:
  - npm config set spin false

os:
  - osx
  - linux
script: npm run-script test-all:cover
before_install:
  - test $TRAVIS_OS_NAME = "osx" && brew update && brew install nvm && source $(brew --prefix nvm)/nvm.sh && brew install phantomjs || test $TRAVIS_OS_NAME = "linux"
  - nvm install $NODE_VERSION
install:
  - node --version
  - npm --version
  - git --version
  - npm install --no-optional

after_script:
  - cat coverage/lcov.info | codeclimate
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
