<div class="some">
  <h1 class="centered">Ember CLI</h1>
  <h6 class="centered">Version 0.0.37</h6>
</div>
<h4 class="warning">Although potentially exciting, this is still a work in progress project, use at your own risk.</h4>
<p class="center">Ember command line utility for ambitious web applications.</p>
<ul class="links center">
  <li><a href="https://github.com/stefanpenner/ember-cli">Github</a></li>
  <li><a href="https://www.npmjs.org/package/ember-cli">Npm</a></li>
  <li><a href="http://stackoverflow.com/questions/tagged/ember-cli">StackOverflow</a>
</ul>
<div class="npm">npm install -g ember-cli</div>

<blockquote class="twitter-tweet" lang="en"><p>upgrade pro-tip (fixed)&#10;&#10;1. cd your-project&#10;2. npm i ember-cli —save-dev&#10;3. ember init&#10;4. use “d” to view diffs&#10;5. use “e” to edit diffs</p>&mdash; Stefan Penner (@stefanpenner) <a href="https://twitter.com/stefanpenner/statuses/479593891923238912">June 19, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
