<div class="some">
  <h1 class="centered">Ember CLI</h1>
  <h6 class="centered">Version 0.0.28</h6>
</div>
<h4 class="warning">Although potentially exciting, this is still a work in progress project, use at your own risk.</h4>
<p class="center">Ember command line utility for ambitious web applications.</p>
<ul class="links">
  <li><a href="https://github.com/stefanpenner/ember-cli">Github</a></li>
  <li><a href="https://www.npmjs.org/package/ember-cli">npm</a></li>
  <li><a href="http://stackoverflow.com/questions/tagged/ember-cli">StackOverflow</a>
</ul>
<div class="npm">npm install -g ember-cli</div>