<div id="showcase">
	<div class="content">
		<h1>ember <span>CLI</span></h1>
		<h6>Version 0.0.25</h6>
		<p class="tagline">Ember command line utility for ambitious web applications.</p>
		<a id="switch" href="#overview">View User Guide</a>
		<div class="window">
			<h3 class="window-title">Terminal</h3>
			<h4 class="warning">Although potentially exciting, this is still a work in progress project, use at your own risk.</h4>
			<div class="npm">npm install -g ember-cli</div>
		</div>
	</div>
</div>