<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/apple-touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/touch-icon-ipad-retina.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Ember-CLI">


  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/ecli.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/syntax.css">

  <title>Ember CLI | A command line utility for creating ambitious web applications</title>
</head>
