<header class="navbar navbar-fixed-top visible-xs visible-sm" id="top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Ember CLI</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
                {% for category in site.categories %}
                <li class="ectop">
                    {% if page.category == category[0] %}
                    <a href="#guide">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    {% else %}
                    <a href="/{{ category | first }}">
                    {% endif %}
                      {{ category | first }}
                    </a>
                  {% if page.category == category[0] %}
                    {% for guide in site.posts %}
                      {% if guide.hidden != 'true' and guide.category == page.category %}
                        <li>
                          <a href="#{{guide.permalink}}">&nbsp;&nbsp;&nbsp;&nbsp;{{guide.title}}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </li>
                {% endfor %}
      </ul>
    </nav>
  </div>
</header>
