<header class="navbar navbar-static-top hidden-header" id="top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Ember CLI</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/overview/index.html#overview">Overview</a></li>
        <li><a href="/getting-started/index.html#getting-started">Getting started</a></li>
        <li><a href="/using-modules/index.html#using-modules">Using Modules &amp; Resolver</a></li>
        <li><a href="/naming-conventions/index.html#naming-conventions">Naming Conventions</a></li>
        <li><a href="/ember-data/index.html#ember-data">Using With Ember Data</a></li>
        <li><a href="/testing/index.html#testing">Testing</a></li>
        <li><a href="/mock-and-proxy-requests/index.html#mock-and-proxy-requests">Mock and proxy requests</a></li>
        <li><a href="/asset-compilation/index.html#asset-compilation">Asset Compilation</a></li>
        <li><a href="/managing-dependencies/index.html#managing-dependencies">Managing Dependencies</a></li>
      </ul>
    </nav>
  </div>
</header>
