<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/ecli.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/assets/styles/syntax.css">

  <title>Ember CLI | A command line utility test creating ambitious web applications</title>
</head>
