<nav class="site-navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="{{site.baseurl}}/" title="Home">
                    <img class="brand" src="{{site.baseurl}}/assets/images/logo.png">
                </a>
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                    {% assign url = page.url | replace: '/',' ' | truncatewords: 1 | remove: '...' %}
                    {% for link in site.data.site-nav.links %}
                    {% assign linkurl = link.url | replace: '/',' ' | truncatewords: 1 | remove: '...' %}
                    <li>
                        <a {% if url == linkurl %}class="active"{% endif %} title="{{link.text}}" href="{{site.baseurl}}{{link.url}}">{{link.text}}</a>
                    </li>
                    {% endfor %}

                    <li class="github">
                        <a title="View on GitHub" href="https://github.com/stefanpenner/ember-cli" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
