
@font-face {
    font-family: 'exomedium';
    src: url('../fonts/exo-medium-webfont.eot');
    src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-medium-webfont.woff') format('woff'),
         url('../fonts/exo-medium-webfont.ttf') format('truetype'),
         url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoblack';
    src: url('../fonts/exo-black-webfont.eot');
    src: url('../fonts/exo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-black-webfont.woff') format('woff'),
         url('../fonts/exo-black-webfont.ttf') format('truetype'),
         url('../fonts/exo-black-webfont.svg#exoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'exolight';
    src: url('../fonts/exo-light-webfont.eot');
    src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-light-webfont.woff') format('woff'),
         url('../fonts/exo-light-webfont.ttf') format('truetype'),
         url('../fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}