/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BORDER RADIUS
*********************/
/* @include border-radius(5px); */
@font-face {
  font-family: 'exomedium';
  src: url('../fonts/exo-medium-webfont.eot');
  src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-medium-webfont.woff') format('woff'), url('../fonts/exo-medium-webfont.ttf') format('truetype'), url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'exoblack';
  src: url('../fonts/exo-black-webfont.eot');
  src: url('../fonts/exo-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-black-webfont.woff') format('woff'), url('../fonts/exo-black-webfont.ttf') format('truetype'), url('../fonts/exo-black-webfont.svg#exoblack') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'exolight';
  src: url('../fonts/exo-light-webfont.eot');
  src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-light-webfont.woff') format('woff'), url('../fonts/exo-light-webfont.ttf') format('truetype'), url('../fonts/exo-light-webfont.svg#exolight') format('svg');
  font-weight: normal;
  font-style: normal; }

/*  BASE STYLES   */

body {
  background: #fdfaf9;
  -webkit-font-smoothing: antialiased; }

.navbar {
  background: #482019; }
  .navbar .navbar-header {
    border-bottom: 3px solid #672e24;
    background-color: #9f4738;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d84a32), to(#9f4738));
    background-image: -webkit-linear-gradient(top, #d84a32, #9f4738);
    background-image: -moz-linear-gradient(top, #d84a32, #9f4738);
    background-image: -o-linear-gradient(top, #d84a32, #9f4738);
    background-image: linear-gradient(to bottom, #d84a32, #9f4738); }
  .navbar nav {
    box-shadow: none; }
    .navbar nav a {
      font-size: 1.3em;
      color: #d6b1aa; }
      .navbar nav a:hover, .navbar nav a:active {
        background: #672e24; }
  .navbar nav.in {
    height: 100%; }
  .navbar .navbar-brand {
    color: #ffffff;
    font-size: 1.6em; }
  .navbar .icon-bar {
    height: 2px;
    background-color: #672e24;
    border-bottom: 1px solid #d84a32; }

#showcase {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 105%;
  z-index: 5000;
  top: 0;
  background-color: #d84a32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54251d), to(#d84a32));
  background-image: -webkit-linear-gradient(top, #54251d, #d84a32);
  background-image: -moz-linear-gradient(top, #54251d, #d84a32);
  background-image: -o-linear-gradient(top, #54251d, #d84a32);
  background-image: linear-gradient(to bottom, #54251d, #d84a32); }
  #showcase .content {
    height: 100%;
    position: relative; }
    #showcase .content h1, #showcase .content h6, #showcase .content h4 {
      text-align: center; }
    #showcase .content p.tagline {
      text-align: center;
      font-family: 'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      letter-spacing: .02em;
      line-height: 1.3em;
      font-size: 1.3em;
      color: #d4a49c;
      margin: 1.5em 0; }
    #showcase .content h6 {
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: #d07b6d;
      font-size: .9em;
      letter-spacing: .04em;
      text-shadow: 0 1px #4a170e; }
    #showcase .content h1,
    #sidenav h1 {
      font-family: 'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.4em;
      font-size: 3.5em;
      color: white;
      text-shadow: 0 2px #742416; }
      #showcase .content h1 span,
      #sidenav h1 span {
        width: 56px;
        top: -15px;
        color: #b3230a;
        padding: .04em .4em .04em .3em;
        font-size: .75em;
        border-bottom: 3px solid #d66f5d;
        text-shadow: 0 1px white;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -khtml-border-radius: 7px;
        border-radius: 7px;
        background-color: #f9a091;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9a091));
        background-image: -webkit-linear-gradient(top, #ffffff, #f9a091);
        background-image: -moz-linear-gradient(top, #ffffff, #f9a091);
        background-image: -o-linear-gradient(top, #ffffff, #f9a091);
        background-image: linear-gradient(to bottom, #ffffff, #f9a091); }
    #showcase .content code {
      text-align: center;
      display: block;
      margin: 0 auto;
      color: #e1b0a8;
      font-size: 1em;
      padding: .75em 0;
      border-top: 2px solid #1f0906;
      border-bottom: 1px solid #d94e36;
      background-color: #120503;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3d130c), to(#120503));
      background-image: -webkit-linear-gradient(top, #3d130c, #120503);
      background-image: -moz-linear-gradient(top, #3d130c, #120503);
      background-image: -o-linear-gradient(top, #3d130c, #120503);
      background-image: linear-gradient(to bottom, #3d130c, #120503); }
    #showcase .content iframe {
      margin: 0 auto;
      display: block; }
  #showcase .primary-nav {
    list-style-type: none;
    padding: 0;
    text-align: center; }
  #showcase .primary-nav li {
    display: inline-block; }
  #showcase .primary-nav a {
    display: inline-block;
    height: auto;
    float: none;
    margin: 3em auto 4em;
    border: 1px solid #a05c51;
    border-bottom: 4px solid #cd7e70;
    padding: .95em 1.45em;
    letter-spacing: .04em;
    font-size: 1.1em;
    font-family: 'exomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px #fefcfc;
    color: #a64231;
    background-color: #e8ada2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e3df), to(#e8ada2));
    background-image: -webkit-linear-gradient(top, #f7e3df, #e8ada2);
    background-image: -moz-linear-gradient(top, #f7e3df, #e8ada2);
    background-image: -o-linear-gradient(top, #f7e3df, #e8ada2);
    background-image: linear-gradient(to bottom, #f7e3df, #e8ada2);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
    #showcase .primary-nav a:hover, #showcase .primary-nav a:active {
      border: 1px solid #b6786e;
      border-bottom: 4px solid #c46656;
      text-shadow: 0 1px #f1cdc7;
      text-decoration: none;
      background-color: #de8979;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e3df), to(#de8979));
      background-image: -webkit-linear-gradient(top, #f7e3df, #de8979);
      background-image: -moz-linear-gradient(top, #f7e3df, #de8979);
      background-image: -o-linear-gradient(top, #f7e3df, #de8979);
      background-image: linear-gradient(to bottom, #f7e3df, #de8979); }

.content-section {
  overflow-x: hidden; }
  .content-section .guide-content {
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 500px; }
    .content-section .guide-content .edit-page {
      float: right;
      padding-right: 10px;
      padding-top: 4px;
      margin-top: 55px; }
    .content-section .guide-content .glyphicon-pencil {
      color: #f2d1cb;
      padding-top: .8em;
      font-size: 1.2em;
      text-shadow: 0 1px white; }
      .content-section .guide-content .glyphicon-pencil:hover, .content-section .guide-content .glyphicon-pencil:active {
        color: #e8ada2; }
    .content-section .guide-content h1 {
      font-size: 1.65em;
      letter-spacing: .06em;
      color: #c66c5d;
      font-family: 'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-shadow: 0 1px white;
      margin-top: 65px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f5e4e1; }
    .content-section .guide-content h3 {
      font-size: 1.15em; }
      .content-section .guide-content h3 a {
        color: #333; }
      .content-section .guide-content h3 + p {
        margin-top: 0; }
    .content-section .guide-content h4 {
      font-size: 1.2em;
      padding-top: 2em; }
      .content-section .guide-content h4 a {
        color: #333; }
      .content-section .guide-content h4 + p {
        margin-top: 0; }
    .content-section .guide-content h5 {
      font-size: 1.3em;
      padding-top: 2em; }
      .content-section .guide-content h5 a {
        color: #3f3a3a; }
      .content-section .guide-content h5 + p {
        margin-top: 0; }
    .content-section .guide-content p, .content-section .guide-content li {
      color: #5f5a5a; }
    .content-section .guide-content li a {
      color: #cd523d; }
    .content-section .guide-content li code {
      color: #c15a49; }
    .content-section .guide-content p {
      line-height: 1.4em;
      font-size: 1.1em;
      font-weight: 400;
      margin-top: 20px; }
      .content-section .guide-content p a {
        color: #cd523d; }
      .content-section .guide-content p code {
        color: #c15a49; }
    .content-section .guide-content pre {
      background: #2f2a2a; }
      .content-section .guide-content pre code {
        color: #efeaea; }
        .content-section .guide-content pre code .lineno {
          color: #ccc; }
        .content-section .guide-content pre code .s2, .content-section .guide-content pre code .s1, .content-section .guide-content pre code .s {
          color: #f66e57; }
        .content-section .guide-content pre code .nt, .content-section .guide-content pre code .na {
          color: #efeaea; }
        .content-section .guide-content pre code .nb, .content-section .guide-content pre code .nv {
          color: #30B6E3; }
    .content-section .guide-content img {
      max-width: 100%;
      height: auto; }

#footer {
  padding: 1.75em 0 1.5em; }
  #footer p {
    width: 100%;
    text-align: center;
    color: #cd523d;
    text-shadow: 0 1px #fcf5f4; }
    #footer p a {
      color: #973727; }

/*  INTRO ANIMATION  */
/*  MEDIA QUERIES   */
@media (min-width: 768px) {
  #showcase {
    padding-top: 10%; }
    #showcase .content p.tagline {
      font-size: 1.6em; }
    #showcase .content code {
      width: 320px;
      font-size: 1.1em; }
  .content-section .guide-content h1 {
    margin-top: 15px; }
  .content-section .guide-content .edit-page {
    margin-top: 5px; } }

@media (min-width: 992px) {
  body {
    background: #f2d1cb; }
  .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  #showcase {
    padding-top: 10%; }
    #showcase .content p.tagline {
      font-size: 2em; }
    #showcase .content code {
      width: 360px;
      font-size: 1.3em; }
  .row {
    margin-top: 0; }
    .row div {
      padding-top: 0;
      margin: 0; }
    .row .sidebar-wrapper {
      border-right: 1px solid rgba(75, 45, 75, 0.1);
      padding-left: 0;
      padding-right: 0; }
      .row .sidebar-wrapper .affix {
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        overflow-y: auto;
        overflow-x: hidden; }
    .row .main {
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      background: white; }
  .sidebar {
    padding-left: 0px; }
  #sidenav h1 {
    background: rgb(216, 74, 50);
    font-size: 2em;
    margin: 0;
    padding: 20px;
  }
  .sidebar.affix {
    top: 20px; }
  .sidenav {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    font-weight: 200;
    font-size: 1.1em;
    background: #f2d1cb;
    border-bottom: 1px solid #eab4aa; }
    .sidenav li.active, .sidenav li.active:hover {
      font-weight: 500;
      margin-right: -6px;
      background-color: #f7e3df;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7e3df));
      background-image: -webkit-linear-gradient(top, #ffffff, #f7e3df);
      background-image: -moz-linear-gradient(top, #ffffff, #f7e3df);
      background-image: -o-linear-gradient(top, #ffffff, #f7e3df);
      background-image: linear-gradient(to bottom, #ffffff, #f7e3df);
      border-bottom: 1px solid white; }
      .sidenav li.active a, .sidenav li.active:hover a {
        color: #9c3422;
        letter-spacing: .04em;
        text-shadow: 0 1px white; }
        .sidenav li.active a:hover, .sidenav li.active a:active, .sidenav li.active:hover a:hover, .sidenav li.active:hover a:active {
          background: none; }
    .sidenav li:nth-child(1) {
      padding-top: 0; }
    .sidenav li {
      padding: 0;
      border-top: 1px solid #eab4aa;
      border-bottom: 1px solid #f2d1cb;
      margin-right: -6px; }
      .sidenav li a {
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 500;
        color: #ba6051;
        letter-spacing: .04em;
        text-shadow: 0 1px #faeeec; }
        .sidenav li a:hover {
          background-color: #f4d8d3;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#fbf1f0), to(#f4d8d3));
          background-image: -webkit-linear-gradient(top, #fbf1f0, #f4d8d3);
          background-image: -moz-linear-gradient(top, #fbf1f0, #f4d8d3);
          background-image: -o-linear-gradient(top, #fbf1f0, #f4d8d3);
          background-image: linear-gradient(to bottom, #fbf1f0, #f4d8d3); }
    .sidenav .ectop {
      background-color: #f7e3df;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7e3df));
      background-image: -webkit-linear-gradient(top, #ffffff, #f7e3df);
      background-image: -moz-linear-gradient(top, #ffffff, #f7e3df);
      background-image: -o-linear-gradient(top, #ffffff, #f7e3df);
      background-image: linear-gradient(to bottom, #ffffff, #f7e3df);
      border-bottom: 2px solid #eab4aa;
      border-top: none; }
      .sidenav .ectop a {
        text-align: center;
        text-shadow: 0 1px white;
        padding: 1em 0;
        background: none; }
        .sidenav .ectop a:hover, .sidenav .ectop a:active {
          background: none; }
        .sidenav .ectop a span {
          padding-right: .5em; }
      .sidenav .ectop .categories a {
        display: inline-block; } }

