@import 'mixins';
@import 'fonts';

$lgtred:    #f2d1cb;
$red:       #F23818;
$drkred:    #d84a32;
$offwhite:  #fdfaf9;
$exo1:      'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo2:      'exomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo3:      'exoblack', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*  BASE STYLES   */

body {
  background: $offwhite;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  background: desaturate(darken($drkred,33%),20%);
  .navbar-header {
    border-bottom: 3px solid desaturate(darken($drkred,25%),20%);
    @include css-gradient($drkred,desaturate(darken($drkred,10%),20%));
  }
  nav {
    box-shadow: none;
    a {
      font-size: 1.3em;
      color: desaturate(darken($lgtred,12%),25%);
      &:hover, &:active {
        background: desaturate(darken($drkred,25%),20%);
      }
    }
  }
  nav.in {
    height: 100%;
  }

  .navbar-brand {
    color: #ffffff;
    font-size: 1.6em;
  }
  .icon-bar {
    height: 2px;
    background-color: desaturate(darken($drkred,25%),20%);
    border-bottom: 1px solid $drkred;
  }
}

#showcase {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  overflow: hidden;
  position: absolute;
  @include box-sizing(border-box);
  width: 100%;
  height: 105%;
  z-index: 5000;
  top: 0;
  @include css-gradient(desaturate(darken($drkred,30%),20%), $drkred);
  .content {
    height: 100%;
    position: relative;
    h1,h6,h4 {text-align: center;}
    p.tagline {
      text-align: center;
      font-family: $exo1;
      letter-spacing: .02em;
      line-height: 1.3em;
      font-size: 1.3em;
      color: desaturate(lighten($red,20%),50%);
      margin: 1.5em 0;
    }
    h6 {
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: desaturate(lighten($red,10%),38%);
      font-size: .9em;
      letter-spacing: .04em;
      text-shadow: 0 1px darken($drkred,35%);

      a {
        color: desaturate(lighten($red,10%),38%);
      }
    }
    .brand {
      background: url('/assets/images/ember-cli-logo.png')  center no-repeat;
      background-size: cover;
      height: 94px;
      padding: 0;
      position: relative;
      text-indent: -999em;
      width: 350px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    code {
      text-align: center;
      display: block;
      margin: 0 auto;
      color: desaturate(lighten($red,25%),40%);
      font-size: 1em;
      padding: .75em 0;
      border-top: 2px solid darken($drkred,45%);
      border-bottom: 1px solid lighten($drkred,1%);
      @include css-gradient(darken($drkred,38%),darken($drkred,48%));
    }
    iframe {
      margin: 0 auto;
      display: block;
    }
  }
  .primary-nav {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .primary-nav li {
    display: inline-block;
  }
  .primary-nav a {
    display: inline-block;
    height: auto;
    float: none;
    margin: 3em auto 4em;
    border: 1px solid desaturate(darken($drkred,5%),35%);
    border-bottom: 4px solid desaturate(lighten($drkred,10%),20%);
    padding:.95em 1.45em;
    letter-spacing: .04em;
    font-size: 1.1em;
    font-family: $exo2;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px lighten($lgtred,12%);
    color: darken(desaturate($red,35%),10%);
    @include css-gradient(lighten($lgtred,5%),darken($lgtred,10%));
    @include border-radius(7px);

    &:hover, &:active {
      border: 1px solid desaturate(lighten($drkred,5%),35%);
      border-bottom: 4px solid desaturate(lighten($drkred,3%),20%);
      text-shadow: 0 1px darken($lgtred,1%);
      text-decoration:none;
      @include css-gradient(lighten($lgtred,5%),darken($lgtred,20%));
    }
  }
}


#sidenav h1 {
  margin: 20px;
  text-align: center;
}


.content-section {
  overflow-x: hidden;
  .guide-content {
    .edit-page {
      float: right;
      padding-right: 10px;
      padding-top: 4px;
      margin-top: 55px;
    }
    .glyphicon-pencil {
      color: $lgtred;
      padding-top: .8em;
      font-size: 1.2em;
      text-shadow: 0 1px white;
      &:hover, &:active {
        color: darken($lgtred,10%);
      }
    }
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 500px;
    h1 {
      font-size: 1.65em;
      letter-spacing: .06em;
      color: lighten(desaturate($drkred,20%),5%);
      font-family: $exo1;
      text-transform: uppercase;
      text-shadow: 0 1px white;
      margin-top: 65px;
      padding-bottom: 10px;
      border-bottom: 1px solid lighten(desaturate($drkred,20%),40%);
    }
    h3 {
      font-size: 1.15em;
      a {
        color: #333;
      }
      + p {
        margin-top: 0;
      }
    }
    h4 {
      font-size: 1.2em;
      padding-top: 2em;
      a {
        color: #333;
      }
      + p {
        margin-top: 0;
      }
    }
    h5 {
      font-size: 1.3em;
      padding-top: 2em;
      a {
        color: #3f3a3a;
      }
      + p {
        margin-top: 0;
      }
    }
    p,li {
      color: #5f5a5a;
    }
    li {
      a {
        color: desaturate($red,30%);
      }
      code {
        color: desaturate($red,40%);
      }
    }
    p {
      line-height: 1.4em;
      font-size: 1.1em;
      font-weight: 400;
      margin-top: 20px;
      a {
        color: desaturate($red,30%);
      }
      code {
        color: desaturate($red,40%);
      }
    }
    pre {
      background: #2f2a2a;
      code {
        color: #efeaea;
        .lineno {
          color: #ccc;
        }
        .s2,.s1,.s {
          color: lighten($red,13%);
        }
        .nt,.na {
          color: #efeaea;
        }
        .nb,.nv {
          color: #30B6E3;
        }
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}


#footer {
  padding: 1.75em 0 1.5em;
  p {
    width: 100%;
    text-align: center;
    color: desaturate($red,30%);
    text-shadow: 0 1px lighten($lgtred,10%);
    a {
      color: darken(desaturate($red,30%),15%);

    }
  }
}

/*  INTRO ANIMATION  */



/*  MEDIA QUERIES   */


@media (min-width:768px) {

  #showcase {
      padding-top: 10%;
    .content {
      p.tagline {
        font-size: 1.6em;
      }
      h6 {

      }
      h1 {
        span {

        }
      }
      code {
       width: 320px;
       font-size: 1.1em;
      }
    }
  }

  .content-section {
    .guide-content {
      h1 {
        margin-top: 15px;
      }
      .edit-page {
        margin-top: 5px;
      }
    }
  }

}

@media (max-width:500px) {
  #showcase .primary-nav {
    margin-top:2em;
  }
  #showcase .primary-nav li {
    display:block;
  }
  #showcase .primary-nav a {
    width:80%;
    margin: 1em auto 1em;
  }
  nav .navbar-nav li {
    text-indent:1em;
  }
  nav .navbar-nav li.ectop {
    text-indent:0em;
  }
}

@media (min-width:992px) {

  body {background: $lgtred;}

  .container {
    @include box-sizing(border-box);
    width: 100%;
  }

  #showcase {
      padding-top: 10%;
    .content {
      p.tagline {
        font-size: 2em;
      }
      h6 {

      }
      h1 {

        span {

        }
      }
      code {
       width: 360px;
       font-size: 1.3em;
      }
    }
  }


  .row {
    margin-top: 0;
    div {
      padding-top: 0;
      margin: 0;
    }
    .sidebar-wrapper {

      border-right: 1px solid rgba(75,45,75,.1);
      padding-left: 0;padding-right: 0;
      .affix {
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    .main {
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      background: lighten($offwhite,2%);
    }
  }

  .sidebar {
    padding-left: 0px;
  }

  .sidebar.affix {
    top: 20px;
  }

  .sidenav {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    font-weight: 200;
    font-size: 1.1em;
    background: $lgtred;
    border-bottom: 1px solid darken($lgtred,8%);

    li.active, li.active:hover {
      font-weight: 500;
      margin-right: -6px;
      @include css-gradient(lighten($lgtred,18%),lighten($lgtred,5%));
      border-bottom: 1px solid lighten($lgtred,20%);
      a {
        color: desaturate(darken($red,15%),25%);
        letter-spacing: .04em;
        text-shadow: 0 1px lighten($lgtred,25%);
        &:hover, &:active {background:none}
      }
    }

    li:nth-child(1) {
      padding-top: 0;
    }

    li {
      padding: 0;
      border-top: 1px solid darken($lgtred,8%);
      border-bottom: 1px solid $lgtred;
      margin-right: -6px;
      a {
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 500;
        color: desaturate($drkred,25%);
        letter-spacing: .04em;
        text-shadow: 0 1px lighten($lgtred,8%);
        &:hover {
          @include css-gradient(lighten($lgtred,9%),lighten($lgtred,2%));
        }
      }
    }
    .ectop {
      @include css-gradient(lighten($lgtred,18%),lighten($lgtred,5%));
      border-bottom: 2px solid darken($lgtred,8%);
      border-top: none;
      a {
        text-align: center;
        text-shadow: 0 1px lighten($lgtred,22%);
        padding: 1em 0;
        background: none;
        &:hover, &:active {background:none;}
        span {padding-right: .5em;}
      }
      .categories a {
        display:inline-block;
      }
    }
  }

}

@media (min-width:1200px) {



}
