@import "mixins";
@import "fonts";
$lgtred: #f2d1cb;
$red: #f23818;
$drkred: #d84a32;
$offwhite: #fdfaf9;
$exo1: "exolight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$exo2: "exomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$exo3: "exoblack", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*  BASE STYLES   */

body {
  background: $offwhite;

  -webkit-font-smoothing: antialiased;
}

.navbar {
  background: desaturate(darken($drkred,33%),20%);
  .navbar-header {
    border-bottom: 3px solid desaturate(darken($drkred,25%),20%);

    @include css-gradient($drkred,desaturate(darken($drkred,10%),20%));
  }
  nav {
    box-shadow: none;
    a {
      color: desaturate(darken($lgtred,12%),25%);
      font-size: 1.3em;
      &:hover,
      &:active {
        background: desaturate(darken($drkred,25%),20%);
      }
    }
  }
  nav.in {
    height: 100%;
  }
  .navbar-brand {
    color: #fff;
    font-size: 1.6em;
  }
  .icon-bar {
    height: 2px;
    border-bottom: 1px solid $drkred;
    background-color: desaturate(darken($drkred,25%),20%);
  }
}

#showcase {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105%;
  padding-top: 0;
  padding-right: 5%;
  padding-left: 5%;
  overflow: hidden;
  z-index: 5000;

  @include box-sizing(border-box);
  @include css-gradient(desaturate(darken($drkred,30%),20%), $drkred);
  .content {
    position: relative;
    height: 100%;
    h1,
    h6,
    h4 {
      text-align: center;
    }
    p.tagline {
      margin: 1.5em 0;
      color: desaturate(lighten($red,20%),50%);
      font-family: $exo1;
      font-size: 1.3em;
      letter-spacing: .02em;
      line-height: 1.3em;
      text-align: center;
    }
    h6 {
      color: desaturate(lighten($red,10%),38%);
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: .9em;
      letter-spacing: .04em;
      text-shadow: 0 1px darken($drkred,35%);
      a {
        color: desaturate(lighten($red,10%),38%);
      }
    }
    .brand {
      position: relative;
      width: 350px;
      height: 94px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0;
      background: url("/assets/images/ember-cli-logo.png")  center no-repeat;
      background-size: cover;
      text-indent: -999em;
    }
    code {
      display: block;
      margin: 0 auto;
      padding: .75em 0;
      border-top: 2px solid darken($drkred,45%);
      border-bottom: 1px solid lighten($drkred,1%);
      color: desaturate(lighten($red,25%),40%);
      font-size: 1em;
      text-align: center;

      @include css-gradient(darken($drkred,38%),darken($drkred,48%));
    }
    iframe {
      display: block;
      margin: 0 auto;
    }
  }
  .primary-nav {
    padding: 0;
    text-align: center;

    list-style-type: none;
  }
  .primary-nav li {
    display: inline-block;
  }
  .primary-nav a {
    display: inline-block;
    height: auto;
    margin: 3em auto 4em;
    padding: .95em 1.45em;
    float: none;
    border-top: 2px solid darken($lgtred,4%);
    border-bottom: 1px solid lighten($lgtred,2%);
    background: $lgtred;
    color: darken(desaturate($red,35%),10%);
    font-family: $exo2;
    font-size: 1.1em;
    letter-spacing: .04em;
    text-align: center;
    text-transform: uppercase;

    @include border-radius(4px);
    &:hover,
    &:active {
      border-top: 2px solid darken($lgtred,24%);
      border-bottom: 1px solid darken($lgtred,24%);
      background: darken($lgtred,20%);
      text-decoration: none;
    }
  }
}


#sidenav h1 {
  margin: 20px;
  text-align: center;
}


.content-section {
  overflow-x: hidden;
  .guide-content {
    min-height: 500px;
    padding-top: 15px;
    padding-bottom: 40px;
    .edit-page {
      margin-top: 55px;
      padding-top: 4px;
      padding-right: 10px;
      float: right;
    }
    .glyphicon-pencil {
      padding-top: .8em;
      color: $lgtred;
      font-size: 1.2em;
      text-shadow: 0 1px white;
      &:hover,
      &:active {
        color: darken($lgtred,10%);
      }
    }
    h1 {
      margin-top: 65px;
      padding-bottom: 10px;
      border-bottom: 1px solid lighten(desaturate($drkred,20%),40%);
      color: lighten(desaturate($drkred,20%),5%);
      font-family: $exo1;
      font-size: 1.65em;
      letter-spacing: .06em;
      text-shadow: 0 1px white;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.15em;
      a {
        color: #333;
      }
      + p {
        margin-top: 0;
      }
    }
    h4 {
      padding-top: 2em;
      font-size: 1.2em;
      a {
        color: #333;
      }
      + p {
        margin-top: 0;
      }
    }
    h5 {
      padding-top: 2em;
      font-size: 1.3em;
      a {
        color: #3f3a3a;
      }
      + p {
        margin-top: 0;
      }
    }
    p,
    li {
      color: #5f5a5a;
    }
    li {
      a {
        color: desaturate($red,30%);
      }
      code {
        color: desaturate($red,40%);
      }
    }
    p {
      margin-top: 20px;
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.4em;
      a {
        color: desaturate($red,30%);
      }
      code {
        color: desaturate($red,40%);
      }
    }
    pre {
      background: #2f2a2a;
      code {
        color: #efeaea;
        .lineno {
          color: #ccc;
        }
        .s2,
        .s1,
        .s {
          color: lighten($red,13%);
        }
        .nt,
        .na {
          color: #efeaea;
        }
        .nb,
        .nv {
          color: #30b6e3;
        }
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}


#footer {
  padding: 1.75em 0 1.5em;
  p {
    width: 100%;
    color: desaturate($red,30%);
    text-align: center;
    text-shadow: 0 1px lighten($lgtred,10%);
    a {
      color: darken(desaturate($red,30%),15%);
    }
  }
}

/*  INTRO ANIMATION  */



/*  MEDIA QUERIES   */


@media (min-width:768px) {
  #showcase {
    padding-top: 10%;
    .content {
      p.tagline {
        font-size: 1.6em;
      }
      h6 {
      }
      h1 {
        span {
        }
      }
      code {
        width: 320px;
        font-size: 1.1em;
      }
    }
  }

  .content-section {
    .guide-content {
      h1 {
        margin-top: 15px;
      }
      .edit-page {
        margin-top: 5px;
      }
    }
  }
}

@media (max-width:500px) {
  #showcase .content .brand {
    width: 290px;
    height: 78px;
    margin-top: 30px;
  }

  #showcase .primary-nav {
    margin-top: 2em;
  }
  #showcase .primary-nav li {
    display: block;
  }
  #showcase .primary-nav a {
    width: 80%;
    margin: 1em auto 1em;
  }
  nav .navbar-nav li {
    text-indent: 1em;
  }
  nav .navbar-nav li.ectop {
    text-indent: 0;
  }
}

@media (min-width:992px) {
  body {
    background: $lgtred;
  }

  .container {
    width: 100%;

    @include box-sizing(border-box);
  }

  #showcase {
    padding-top: 10%;
    .content {
      p.tagline {
        font-size: 2em;
      }
      h6 {
      }
      h1 {
        span {
        }
      }
      code {
        width: 360px;
        font-size: 1.3em;
      }
    }
  }


  .row {
    margin-top: 0;
    div {
      margin: 0;
      padding-top: 0;
    }
    .sidebar-wrapper {
      padding-right: 0;
      padding-left: 0;
      border-right: 1px solid rgba(75,45,75,.1);
      .affix {
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;

        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    .main {
      padding-top: 3%;
      padding-right: 3%;
      padding-left: 3%;
      background: lighten($offwhite,2%);
    }
  }

  .sidebar {
    padding-left: 0;
  }

  .sidebar.affix {
    top: 20px;
  }

  .sidenav {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid darken($lgtred,8%);
    background: $lgtred;
    font-size: 1.1em;
    font-weight: 200;
    list-style: none;
    li.active,
    li.active:hover {
      margin-right: -6px;
      border-bottom: 1px solid lighten($lgtred,10%);
      font-weight: 500;

      @include css-gradient(lighten($lgtred,18%),lighten($lgtred,5%));
      a {
        color: desaturate(darken($red,15%),25%);
        letter-spacing: .04em;
        &:hover,
        &:active {
          background: none;
        }
      }
    }
    li:nth-child(1) {
      padding-top: 0;
    }
    li {
      margin-right: -6px;
      padding: 0;
      border-top: 1px solid darken($lgtred,8%);
      border-bottom: 1px solid $lgtred;
      a {
        padding-left: 50px;
        color: desaturate($drkred,25%);
        font-size: .8em;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;
        &:hover {
          @include css-gradient(lighten($lgtred,7%),lighten($lgtred,2%));
        }
      }
    }
    .ectop {
      a {
        padding: 1em 0;
        padding-left: 20px;
        background: none;
        span {
          padding-right: .5em;
        }
      }
      .categories a {
        display: inline-block;
      }
    }
  }
}
