@import 'mixins';
@import 'fonts';


$red:       #F23818;
$drkred:    #d84a32;
$offwhite:  #faf4f1;
$drkbrown:  #443331;
$medbrown:  #d5ccc8;
$lgtbrown:  #f4ece9;
$lgtred:    #f2d1cb;
$orange:    rgba(242,195,24,.9);
$exo1:      'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo2:      'exomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo3:      'exoblack', 'Helvetica Neue', Helvetica, Arial, sans-serif;


body {
  background: $lgtred;
}

.warning {
  color: rgb(201, 4, 0);
  font-weight: 200;
}

#swap {clear:both;margin:0;padding:0;}

#showcase {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
  top: 0;
  .content {
    height: 100%;
    position: relative;
    h1,h6,h4 {text-align: center;}
    p.tagline {
      text-align: center;
      font-family: $exo1;
      letter-spacing: .02em;
      line-height: 1.3em;
      color: desaturate($red,50%);
      margin-bottom: 1.5em;
    }
    h6 {
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: desaturate(lighten($red,10%),38%);
      font-size: .9em;
      letter-spacing: .04em;
      text-shadow: 0 1px lighten($red,45%);
    }
    h1 {
      font-family: $exo1;
      line-height: 1.4em;
      font-size: 4em;
      color: darken($red,25%);
      text-shadow: 0 1px lighten($red,45%);
      span {
        width: 56px;
        top: -15px;
        background: lighten($red,45%);
        color: darken($red,15%);
        padding: .04em .4em .04em .3em;
        font-size: .75em;
        border-bottom: 2px solid desaturate(lighten($red,25%),30%);
        text-shadow: 0 1px white;
        @include border-radius(7px);
        @include css-gradient(lighten($red,55%),lighten($red,40%))
      }
    }
    code {
      text-align: center;
      display: block;
      margin: 0 auto;
      color: desaturate($red,40%);
      font-size: 130%;
      padding: 1em 3em;
      border-top: 2px solid darken($drkred,50%);
      border-bottom: 1px solid lighten($lgtred,10%);
      @include css-gradient(darken($drkred,38%),darken($drkred,48%));
    }
    iframe {
      margin: 0 auto;
      display: block;
    }
    .window {
      margin: 50px auto 0;
      padding:0 5px;
      background-image: linear-gradient(to top, rgba(122,122,122,1), rgba(188,188,188,1));
      border-top-left-radius:8px;
      border-top-right-radius:8px;
      box-shadow: 0 -3px 128px $red;
      position: absolute;
      bottom: -10px;
      left: 12.5%;
      width: 75%;
      height: 50%;
      display: none;
      h3.window-title {
        color: #333;
        padding: .4em 0;
        margin: 0;
        text-align: center;
        font-size: 1.1em;
        font-weight:400;
        letter-spacing:.04em;
      }
      .npm {
        min-height: 120%;
        padding: 19px 19px 38px 19px;
        font-size: 1.9em;
        font-weight: 200;
        background-color: rgb(245, 245, 245);
        background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(15, 15, 14));
        color: $lgtred;
        border-top: 2px solid rgba(65,65,65,.45);
        border-left: 1px solid rgba(65,65,65,.25);
        border-right: 1px solid rgba(65,65,65,.25);
      }
      h4.warning {
        display: block;
        background: lighten($orange,15%);
        position: absolute;
        right: -1%;
        bottom: 0;
        padding: 1em 1.2em;
        color: darken($orange,30%);
        font-family: $exo2;
        letter-spacing: .02em;
        font-size: 1em;
        width: 102%;
      }
    }
  }
  #switch {
    display: block;
    height: auto;
    float: none;
    margin: 2em auto;
    border: 1px solid desaturate(lighten($red,20%),35%);
    border-bottom: 2px solid desaturate(lighten($red,20%),35%);
    padding:.95em .35em;
    letter-spacing: .04em;
    font-size: 1.1em;
    font-family: $exo2;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px lighten($lgtred,12%);
    width: 256px;
    color: desaturate($red,35%);
    @include css-gradient(lighten($lgtred,5%),$lgtred);
    @include border-radius(7px);
    @include transition(all 2s ease-in-out);

    &:hover, &:active {
      border: 1px solid desaturate(lighten($red,10%),35%);
      border-bottom: 2px solid desaturate(lighten($red,6%),35%);
      text-decoration:none;
      @include css-gradient(lighten($lgtred,5%),darken($lgtred,5%));
      @include transition(all 2s ease-in-out);
    } 
   
  }
}

.row {
  margin-top: 0;
  box-shadow: 0 -2px 16px rgba(22,22,22,.4);
  div {
    padding-top: 0;
    margin: 0;
  }
  .sidebar-wrapper {
    padding-top: 3%;
    border-right: 1px solid rgba(75,45,75,.1);
    padding-left: 0;padding-right: 0;
    .affix {
      top: 0;
      left: 0;
      width: 25%;
    }
  }
  .main {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background: lighten($offwhite,2%);
  }
}

.edit-page {
  float: right;
  padding-right: 10px;
  padding-top: 4px;
}

.glyphicon-pencil {
  font-size: 1.3em;
}

.navbar-brand {
  color: rgb(35, 35, 35);
  font-size: 1.6em;
}


.navbar {
  border-color: #e7e7e7;
  background: $red;
  a {
    color: #ffffff;
  }
  .navbar-brand {
    color: #ffffff;
  }
}

.container {width:100%;}

.h1-animate-in {
    display: block;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeInFromNone;
}

.description-animate-in {
  display: block;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-name: fadeInFromNone;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none; 
    opacity: 0;
  }

  49% {
    display: none ; 
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block ; 
    opacity: 1;
  }
}

@media (max-width:991px) {
  body {
    margin-top: 45px;
  }
}

.icon-bar {
  background-color: rgb(255, 255, 255)
}

.content {

  h1 {
    font-size: 3em;
    margin-top: 5%;
    font-weight: 200;
    color: rgb(35, 35, 35);
  }
  h6 {
    font-size: 1.2em;
    font-weight: 200;
  }
  p {
    line-height: 2.4;
    font-size: 1.7em;
    font-weight: 200;
    margin-top: 20px;
  }

}

.content-section {

  h1 {
    margin-top: 0;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    padding-top: 10px;
  }
  h5 {
    font-size: 1.1em;
    padding-top: 10px;
  }
  p {
    line-height: 1.7;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 20px;
  }
  .guide-content {
    padding-bottom: 40px;
    padding-top: 15px;
    min-height:500px;
    h1 {
      font-size:1.65em;
      letter-spacing:.06em;
      color:$drkred;
      font-family: Georgia, Times, Times New Roman, serif;
      font-family: $exo1;
      text-transform: uppercase;
      margin-top:15px;
    }
  }
}

.sidebar {
  padding-left: 0px;
}

.sidebar.affix {
  top: 20px;
}



.sidenav {
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  font-weight: 200;
  font-size: 1.1em;
  background: $lgtred;

  li.active, li.active:hover {
    font-weight: 500;
    margin-right: -6px;
    @include css-gradient(lighten($lgtred,18%),lighten($lgtred,5%));
    border-bottom: 1px solid lighten($lgtred,20%);
    a {
      color: desaturate(darken($red,15%),25%);
      letter-spacing: .04em;
      text-shadow: 0 1px lighten($lgtred,25%);
      &:hover, &:active {background:none}
    }
  }

  li:nth-child(1) {
    padding-top: 0;
  }

  li {
    padding: 0;
    border-top: 1px solid darken($lgtred,8%);
    border-bottom: 1px solid $lgtred;
    margin-right: -6px;
    a {
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 500;
      color: desaturate($drkred,25%);
      letter-spacing: .04em;
      &:hover {
        @include css-gradient(lighten($lgtred,9%),lighten($lgtred,2%));
      }
    }
  }
  .ectop {
    a {
      text-align: center;
      padding: 1em 0;
      background: none;
      &:hover, &:active {background:none;}
    }
  }
}

.download {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 200;
  border-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
}

.download:hover {
  color: rgb(66, 139, 202);
  border-color: rgb(66, 139, 202);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .download {
    width: 100%;
  }

  code {
    white-space: normal;
  }

  .guide-content {
    padding-bottom: 0;
    margin-bottom: -20px;
  }

  .edit-page {
    padding-top: 65px;
  }

  .warning {
    text-align: center;
  }

  .centered {
    text-align: center;
    padding-top: 70px;
  }

  .center {
    text-align: center;
    padding-top: 15px;
  }

  .content p {
    line-height: 1.4em;
  }

  .col-md-3 {
    display: none;
  }

  .row {
    margin-top: 0;
  }

  .content-section h1 {
    padding-top: 60px;
  }

  .npm {
    font-size: 1.6em;
    text-align: center;
  }
}

#footer {
  background: #f6eBe9;
  border-top: 1px solid #eab4aa;

  a {
    color: $red;
    font-weight: bold;
  }

  p {
    margin-bottom: 0px;
  }

  .info {
    color: #8f8f8f;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 90%;
    padding: 40px 0px 40px 15px;
  }
}
