# these settings allow us to be good stewards of the ecosystem
# end-consumers can flip these settings in their own projects,
# but library authors should not allow for less-than-strictest
# behavior
auto-install-peers=false
resolve-peers-from-workspace-root=false
