<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{page.title}}</title>

        <meta name="description" content="">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{site.baseurl}}/assets/syntax.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/screen.css">
    </head>

    <body>
        {{content}}
    </body>
</html>
