# For more information: https://pnpm.io/npmrc
#
# The default is lowest-direct,
# which is good for library authors as it ensures they continue
# testing and developing against the bottom of their
# supported semver range for retaining maximum compatibility.
#
# but for apps we always want the latest bugfixes
resolution-mode=highest
