<!DOCTYPE html>
<html<% if(lang) { %> lang="<%= lang %>"<% } %>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= namespace %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}{{outputPaths.vendor.css}}">
    <link integrity="" rel="stylesheet" href="{{rootURL}}{{outputPaths.app.css.app}}">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}{{outputPaths.vendor.js}}"></script>
    <script src="{{rootURL}}{{outputPaths.app.js}}"></script>

    {{content-for "body-footer"}}
  </body>
</html>
