<!DOCTYPE html>
<html<% if(lang) { %> lang="<%= lang %>"<% } %>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= namespace %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/<%= name %>.css">

    <script defer src="{{rootURL}}assets/vendor.js"></script>
    <script defer src="{{rootURL}}assets/<%= name %>.js"></script>

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    {{content-for "body-footer"}}
  </body>
</html>
