name: CI

on:
  push:
    branches:
      - master
      - beta
      - release
      - next
      - 'v*'
      - 'release-*'
      - 'lts-*'
  pull_request:
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn lint

  basic-tests:
    name: "Basic Tests - ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"

    strategy:
      matrix:
        os: [ubuntu, macOS, windows]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn test

  tests:
    name: "Node ${{ matrix.node-version }} - ${{ matrix.os }} "
    runs-on: "${{ matrix.os }}-latest"

    needs: [linting, basic-tests]

    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 13.x, 14.x]
        os: [ubuntu, macOS, windows]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn test:all

  feature-flags:
    name: "Feature: ${{ matrix.feature-flag }}"
    runs-on: ubuntu-latest

    needs: [linting, basic-tests]

    strategy:
      fail-fast: false
      matrix:
        feature-flag:
          - ENABLE_ALL_EXPERIMENTS
          - PACKAGER

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn test:all
        env:
          "EMBER_CLI_${{ matrix.feature-flag }}": true
